<p id="notice"><%= notice %></p>
<%= @precatorio.created_at %>
<%= @precatorio.posicao_cronologica %>
<%= @precatorio.posicao_crescente %>

<%= link_to 'Edit', edit_precatorio_path(@precatorio) %> |
<%= link_to 'Back', precatorios_path %>
